<footer class="p-6 text-center bg-white text-black">
  <p class="m-0 text-[0.8rem] sm:text-base">Munich, BY, Germany | © {{ now.Year }} {{ .Site.Title }}</p>
  <div class="mt-2 flex items-center justify-center gap-4">
    <a class="text-black text-[1rem] sm:text-[1.1rem]" href="https://www.linkedin.com/in/xmruuu/"><i class="fa fa-linkedin-square"></i></a>
    <a class="text-black text-[1rem] sm:text-[1.1rem]" href="https://github.com/xmruuu"><i class="fa fa-github"></i></a>
    <a class="text-black text-[1rem] sm:text-[1.1rem]" href="mailto:mj.hsieh@tum.de"><i class="fa fa-envelope"></i></a>
  </div>
</footer>


